.fondo {
	/* object-fit: cover;
	object-position: top;
	height: 100%;
	width: 100%; */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/inicio.jpg);
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
}

.text {
	width: calc(40% - 150px);
	height: 40%;
	padding: 30px 30px 0 150px;
	
	color: white;
	background-color: #0008;

	text-align: right;
	font-weight: bold;
}