.item {
  width: 96%;
  height: auto;
  border-radius: 25px;
}

.item.close .item-header {
  border-radius: 25px;
}

.item.close .item-content {
  display: none;
}

.item.open .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .item-header {
  background-color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 2px;
}

.item .item-header .item-name {
  width: 40%;
  padding-left: 0.5em;
}

.item .item-header .item-name .name {
  float: left;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}

@media (max-width: 450px) {
  .item .item-header .item-name .name {
    font-size: 12px;
  }
}

.item .item-header .item-actions {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.item .item-header .item-actions .button-action {
  border-radius: 25px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  margin-right: 5px;
  cursor: pointer;
  border: 2px solid #2B2B2B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2px 20px;
}

.item .item-header .item-actions .button-action .button-text {
  padding-right: 5px;
}

.item .item-header .item-actions .button-action.alta {
  background: #4FA800;
}

.item .item-header .item-actions .button-action.alta:hover {
  background-color: white;
  border: 2px solid #4FA800;
  color: #4FA800;
}

.item .item-header .item-actions .button-action.baja {
  background: #FF0A0A;
}

.item .item-header .item-actions .button-action.baja:hover {
  background-color: white;
  border: 2px solid #FF0A0A;
  color: #FF0A0A;
}

.item .item-header .item-actions .button-action.modificacion {
  background: #FF9E00;
}

.item .item-header .item-actions .button-action.modificacion:hover {
  background-color: white;
  border: 2px solid #FF9E00;
  color: #FF9E00;
}

@media (max-width: 942px) {
  .item .item-header .item-actions .button-action .button-text {
    display: none;
  }
  .item .item-header .item-actions .button-action .button-icon {
    padding: 5px 0;
    font-size: 15px;
  }
}

.item .item-header .item-dropdown {
  width: 15%;
}

.item .item-header .item-dropdown .button-dropdown {
  float: right;
  padding-right: 1em;
  background: none;
  color: #4FA800;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .item-header .item-dropdown .button-dropdown:hover {
  color: #62d100;
}

.item .item-header .item-dropdown .button-dropdown .button-text {
  padding-right: 5px;
}

@media (max-width: 1050px) {
  .item .item-header .item-dropdown .button-dropdown .button-text {
    display: none;
  }
  .item .item-header .item-dropdown .button-dropdown .button-icon {
    font-size: 20px;
  }
}

.item .item-content {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: rgba(162, 162, 162, 0.5);
}

.item .item-content .info-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 15px;
  padding: 10px 0;
}

.item .item-content .info-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item .item-content .info-container .info.small {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item .item-content .info-container .info.big {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.item .item-content .info-container .info .property {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.item .item-content .info-container .info .property .property-title {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: right;
  line-height: 25px;
  width: 125px;
  background-color: #FFFFFF80;
  padding-top: 2px;
  padding-right: 5px;
  font-weight: bolder;
}

.item .item-content .info-container .info .property .property-value {
  line-height: 20px;
  text-align: justify;
  padding: 4px 10px 0 25px;
}
/*# sourceMappingURL=Item.css.map */