.item-container{
    width: 90%;
    height: auto;
    border-radius: 25px;
    &.close{
        .item-header{
            border-radius: 25px;
        }
        .item-content{
            display: none;
        }
    }
    &.open{
        .item-content{
            display: block;
        }
    }
    .item-header{
        background-color: #2B2B2B;
        display: flex;
        flex-direction: row;
        height: 35px;
        align-items: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        .item-name{
            width: 25%;
            padding-left: 30px;
            .name{
                float: left;
                font-style: normal;
                font-weight: 900;
                font-size: 15px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
        .item-actions{
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .button-action{
                border-radius: 25px;
                color: #FFFFFF;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
                margin-right: 5px;
                width: 135px;
                cursor: pointer;
                border: 2px solid #2B2B2B;
                &.alta{
                    background: #4FA800;
                    &:hover{
                        background-color: white;
                        border: 2px solid #4FA800;
                        color: #4FA800;
                    }
                }
                &.baja{
                    background: #FF0A0A;
                    &:hover{
                        background-color: white;
                        border: 2px solid #FF0A0A;
                        color: #FF0A0A;
                    }
                }
                &.modificacion{
                    background: #FF9E00;
                    &:hover{
                        background-color: white;
                        border: 2px solid #FF9E00;
                        color: #FF9E00;
                    }
                }
                
            }
        }
        .item-dropdown{
            width: 15%;
            
            .button-dropdown{
                float: right;
                padding-right: 30px;
                background: none;
                color: #4FA800;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 24px;
                cursor: pointer;
                &:hover{
                    color: #62d100;
                }
            }
            
        }
    }
    .item-content{
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background: rgba(162, 162, 162, 0.5);
    }
}