.item-container {
  width: 90%;
  height: auto;
  border-radius: 25px;
}
.item-container.close .item-header {
  border-radius: 25px;
}
.item-container.close .item-content {
  display: none;
}
.item-container.open .item-content {
  display: block;
}
.item-container .item-header {
  background-color: #2B2B2B;
  display: flex;
  flex-direction: row;
  height: 35px;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.item-container .item-header .item-name {
  width: 25%;
  padding-left: 30px;
}
.item-container .item-header .item-name .name {
  float: left;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
}
.item-container .item-header .item-actions {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.item-container .item-header .item-actions .button-action {
  border-radius: 25px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  margin-right: 5px;
  width: 135px;
  cursor: pointer;
  border: 2px solid #2B2B2B;
}
.item-container .item-header .item-actions .button-action.alta {
  background: #4FA800;
}
.item-container .item-header .item-actions .button-action.alta:hover {
  background-color: white;
  border: 2px solid #4FA800;
  color: #4FA800;
}
.item-container .item-header .item-actions .button-action.baja {
  background: #FF0A0A;
}
.item-container .item-header .item-actions .button-action.baja:hover {
  background-color: white;
  border: 2px solid #FF0A0A;
  color: #FF0A0A;
}
.item-container .item-header .item-actions .button-action.modificacion {
  background: #FF9E00;
}
.item-container .item-header .item-actions .button-action.modificacion:hover {
  background-color: white;
  border: 2px solid #FF9E00;
  color: #FF9E00;
}
.item-container .item-header .item-dropdown {
  width: 15%;
}
.item-container .item-header .item-dropdown .button-dropdown {
  float: right;
  padding-right: 30px;
  background: none;
  color: #4FA800;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}
.item-container .item-header .item-dropdown .button-dropdown:hover {
  color: #62d100;
}
.item-container .item-content {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: rgba(162, 162, 162, 0.5);
}/*# sourceMappingURL=Item.css.map */