.socio-container {
	width: 100%;
	display: flex;
	flex-direction: row;

	font-size: 15px;

	padding: 10px 0;

	.info {
		display: flex;
		flex-direction: column;
		min-width:max-content;
		.property {
			flex: 1;
			display: inline-flex;
			
			width: 100%;
			min-height: 25px;

			.property-title {
				flex-shrink: 0;
				text-align: right;
				line-height: 25px;

				width: 125px;
				background-color: #FFFFFF80;
				padding-right: 5px;

				font-weight: bolder;
			}

			.property-value {
				line-height: 20px;
				text-align: justify;
				max-width: 600px;
				padding: 2px 10px 0 25px;
			}
		}
	}
}